<% include header %>

    <div class="guns" style="text-align: center;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <h1 style="color: red">Armas</h1>
        <table border=”1″ style="margin: auto">

            <tr>

                <th style="color: white">Zombie</th>

                <th style="color: white">Arma</th>

            </tr>

            <tr>

                <td><img src="http://www.meristation.com.mx/files/imagenes/juegos/pc/action/fortnite/1404840204-renders-husk.jpg" class="img-circle" alt="husk" height="150px"></td>

                <td></td>

            </tr>

            <tr>

                <td><img src="https://survivalcore.de/wp-content/uploads/2017/07/Fortnite_Lobber_Husk.gif" class="img-circle" alt="lobber" height="150px"></td>

                <td><img src="https://st.depositphotos.com/1742172/4848/v/450/depositphotos_48481491-stock-illustration-cartoon-flaming-skull-with-love.jpg" class="img-circle" alt="" height="150px"></td>

            </tr>

            <tr>

                <td><img src="https://vignette.wikia.nocookie.net/fortnite/images/f/f4/Pitcher_Husk_gif.gif" class="img-circle" alt="pitcher" height="150px"></td>

                <td><img src="https://userscontent2.emaze.com/images/3946ca55-835b-45d7-b5e7-2e77aa2b5ebc/a38b22d8-63ad-4e35-9a29-a0bb4f844ad0.png" class="img-circle" alt="" height="150px"></td>

            </tr>

            <tr>

                <td><img src="https://vignette.wikia.nocookie.net/fortnite/images/6/66/Exploder.gif" class="img-circle" alt="exploder" height="150px"></td>

                <td><img src="https://www.cadblocksfree.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/8/8/886LPGGascylinder.png" class="img-circle" alt="" height="150px"></td>

            </tr>

            <tr>

                <td><img src="https://vignette.wikia.nocookie.net/fortnite/images/d/de/Flinger.jpg" class="img-circle" alt="flinger" height="150px"></td>

                <td></td>

            </tr>

            <tr>

                <td><img src="https://i.redd.it/d9646glq7mf01.jpg" class="img-circle" alt="smashers" height="150px"></td>

                <td></td>

            </tr>

            <tr>

                <td><img src="https://c-7npsfqifvt34x24e2v6q4m5x78qbz4lx2edmpvegspoux2eofu.g00.gamepedia.com/g00/3_c-7gpsuojuf.hbnfqfejb.dpn_/c-7NPSFQIFVT34x24iuuqtx3ax2fx2fe2v6q4m5x78qbz4l.dmpvegspou.ofux2fgpsuojuf_hbnfqfejbx2fuivncx2ffx2fffx2fUblfs_jousp_tdsffo.qohx2f561qy-Ublfs_jousp_tdsffo.qohx3fwfstjpox3d355b0g6fc315324cf97ge12gg5724f21x26j21d.nbslx3djnbhf_$/$/$/$/$/$/$"
                        alt="takers" class="img-circle" height="150px"></td>

                <td></td>

            </tr>

        </table>
    </div>



    <% include footer %>