<% include header %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="clas" style="text-align: center; border: 3px solid white;">
        <h1 style="color: red">Clases de Zombies</h1>
        <div style="border: 3px solid white;">
            <h2>Husks</h2>
            <img src="http://www.meristation.com.mx/files/imagenes/juegos/pc/action/fortnite/1404840204-renders-husk.jpg" class="img-circle" alt="Husks" height="150px">
            <p>Los Husks son criaturas hambrientas y destructivas.</p>
        </div>
        <div style="border: 3px solid white;">
            <h2>Lobbers</h2>
            <img src="https://survivalcore.de/wp-content/uploads/2017/07/Fortnite_Lobber_Husk.gif" class="img-circle" alt="lobbers" height="150px">
            <p>Los lobbers son Husks de largo alcance.</p>
        </div>
        <div style="border: 3px solid white;">
            <h2>Pitchers</h2>
            <img src="https://vignette.wikia.nocookie.net/fortnite/images/f/f4/Pitcher_Husk_gif.gif" class="img-circle" alt="Pitchers" height="150px">
            <p>Los Pitchers son Husks con apariencia de béisbol.</p>
        </div>
        <div style="border: 3px solid white;">
            <h2>Sploders</h2>
            <img src="https://vignette.wikia.nocookie.net/fortnite/images/6/66/Exploder.gif" class="img-circle" alt="Exploder" height="150px">
            <p>Los Sploders llevan un tanque de propano.</p>
        </div>

        <div style="border: 3px solid white;">
            <h2>Flingers</h2>
            <img src="https://vignette.wikia.nocookie.net/fortnite/images/d/de/Flinger.jpg" class="img-circle" alt="Flinger" height="150px">
            <p>Estos monstruos son temibles.</p>
        </div>

        <div style="border: 3px solid white;">
            <h2>Smashers</h2>
            <img src="https://i.redd.it/d9646glq7mf01.jpg" class="img-circle" alt="Smashers" height="150px">
            <p>Los Smashers son enemigos brutales.</p>
        </div>

        <div style="border: 3px solid white;">
            <h2>Takers</h2>
            <img src="https://c-7npsfqifvt34x24e2v6q4m5x78qbz4lx2edmpvegspoux2eofu.g00.gamepedia.com/g00/3_c-7gpsuojuf.hbnfqfejb.dpn_/c-7NPSFQIFVT34x24iuuqtx3ax2fx2fe2v6q4m5x78qbz4l.dmpvegspou.ofux2fgpsuojuf_hbnfqfejbx2fuivncx2ffx2fffx2fUblfs_jousp_tdsffo.qohx2f561qy-Ublfs_jousp_tdsffo.qohx3fwfstjpox3d355b0g6fc315324cf97ge12gg5724f21x26j21d.nbslx3djnbhf_$/$/$/$/$/$/$"
                class="img-circle" alt="Takers" height="150px">
            <p>Los Takers tienen la capacidad de atravesar muros.</p>
        </div>
    </div>


    <% include footer %>