<!DOCTYPE html>
<html>

<head>
    <style>
        .logo {
            position: absolute;
            /*nos posicionamos en el centro del navegador*/
            top: 50%;
            left: 50%;
            /*determinamos una anchura*/
            width: 400px;
            /*indicamos que el margen izquierdo, es la mitad de la anchura*/
            margin-left: -200px;
            /*determinamos una altura*/
            height: 300px;
            /*indicamos que el margen superior, es la mitad de la altura*/
            margin-top: -300px;
            padding: 5px;
        }
        
        .body {
            background: url("https://images4.alphacoders.com/548/thumb-1920-54846.jpg");
            /*background-size: cover;*/
        }
        
        .clas div #1 {
            border: 3px solid white;
        }
        
        .clas p {
            color: white;
        }
        
        .clas h2 {
            color: red;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ZombieLocos</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="http://www.stickpng.com/assets/images/5875444f1063eb350d61bee9.png" />

</head>

<body class="body">

    <div class="logo">
        <a href="http://localhost:3000"><img src="http://zombieportraits.com/wp-content/uploads/2012/03/black-and-white-zombie-portrait.jpg" alt="Imagen" height="150px" /></a>


        <a href="/clases" class="btn btn-danger">
                        Clases
                    </a>
        <a href="/armas" class="btn btn-danger">
                        Armas
                    </a>
        <a href="/victimas" class="btn btn-danger">
                        Victimas
                    </a>

    </div>