<% include header %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h2 style="color: red">Victima</h2>
    <form method="post" role="form">
        <div class="form-group">
            <label for="title" style="color: white">Nombre</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Nombre" required/>
        </div>
        <div class="form-group">
            <label for="body" style="color: white">Informacion</label>
            <textarea class="form-control" id="body" name="body" placeholder="Informacion" rows="3" required>
            </textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="btn-danger" value="Aceptar" />
        </div>
    </form>
    <% include footer %>